<?xml version='1.0' encoding='utf-8'?>
<iTStation>
	<Log>
        <!--日志等级：LEVEL_OFF LEVEL_ERROR LEVEL_WARN LEVEL_INFO LEVEL_SUCCESS LEVEL_DEBUG-->
        <Level>LEVEL_DEBUG</Level>
        <MaxSize>1024000</MaxSize>
        <MaxNum>100</MaxNum>
        <AppendComsole>0</AppendComsole>
    </Log>
	
	<CtpTradeAccount>
    <broker_id>9999</broker_id>
    <user_id>002907</user_id>
    <pwd>123456</pwd>
    <front_addr>tcp://218.202.237.33:10002</front_addr>
  </CtpTradeAccount>

  <DataServer>
	<broker_id>9999</broker_id>
	<ctp_address>
		<Address IP="tcp://180.168.146.187:10031" />
		<Address IP="tcp://180.168.146.187:10010" />
		<Address IP="tcp://180.168.146.187:10011" />
	</ctp_address>
  </DataServer>
  
  <DataServer_ACTUAL>
	<broker_id>66666</broker_id>
	<ctp_address>
		<Address IP="tcp://180.169.101.177:41213" />
		<Address IP="tcp://123.124.247.8:41213" />
		<Address IP="tcp://27.115.78.193:41213" />
		<Address IP="tcp://180.169.101.178:41213" />
	</ctp_address>	
	
	<my_address>
		<Address IP="121.43.232.206" />
	</my_address>
	<tick_port>3335</tick_port>
	<kline_port>3333</kline_port>
  </DataServer_ACTUAL>
  
  
    <RuntimeDataApis>
        <CTP_FUTURE SuportExchange="2,3,4,5" Active="1" IsLocal="1">
            <IP>tcp://112.64.143.157:41213</IP>
            <Port>0</Port>
            <BorokerID>7070</BorokerID>
            <UserID>8761883</UserID>
            <Password>111111</Password>
            <NightTrading>1</NightTrading>
        </CTP_FUTURE>
    </RuntimeDataApis>
    <HisKlineApi Name="K线行情接口" SuportTick="1">
        <IP>121.43.232.206</IP>
        <Port>3333</Port>
    </HisKlineApi>
    

  
  <Strategy_MA>
      <code>j1709</code>
      <kline_period>1m</kline_period>
      <short_ma>5</short_ma>
      <long_ma>10</long_ma>
      <submit_hands>1</submit_hands>
      <cancel_interval>1m</cancel_interval>
      <jump_nums>4</jump_nums>
	  <target_profit_value>1000000</target_profit_value>
  </Strategy_MA>
  
  <Strategy_cta_tradelist>
    <jump_nums>10</jump_nums>
    <target_profit_value>970000</target_profit_value>
  </Strategy_cta_tradelist>
  
</iTStation>
